@charset "utf-8";
@import url ("mclibre-pie.css");


cuerpo {
  color de fondo: hsl (145, 50%, 35%);
  Familia tipográfica: sans-serif;
}

h1 {
  tamaño de letra: 300%;
  transformación de texto: capitalizar;
}


p {
  tamaño de letra: 150%;
}

p.as {
  color: blanco;
  Familia tipográfica: serif;
  estilo de letra: oblicuo;
}

p.ad {
  color: hsl (35, 100%, 85%);
  Familia tipográfica: sans-serif;
}

p.af {
  color: hsl (35, 100%, 55%);
  Familia tipográfica: minivan;
  tamaño de letra: 200%;
}

p.ag{
  color: hsI (345, 80%, 50%);
  Familia tipográfica: cursiva;
}